<h1><%= @feedback.mood.upcase %></h1>

<p>
  STUDENT: <%= @feedback.student.full_name %>
  <br>
  LOCATION: <%= @feedback.student.location.try :name %>
  <br>
  HOST: <%= link_to @host, @host %>
  <br>
  PROGRAM: <%= @feedback.student.cohort.program.name %>
  <br>
  COHORT: <%= @feedback.student.cohort.name %> (<%= @feedback.student.cohort.location.name %>)
  <br>
  DAY: <%= link_to @feedback.day, day_url(@feedback.day, host: "http://#{ENV['HOST']}") %>
</p>

<p>
  <strong><%= @feedback.title %></strong>
</p>

<hr>

<%= simple_format @feedback.text %>
